/* productopage.component.css */
.layout {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.input-container {
  margin-bottom: 21px; /* Establece el espacio entre los inputs */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  /* Ancho del sidebar */
  margin-top: 0;
  /* Header estará pegado a la parte superior */
}

.tab-container {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  /* Margen alrededor del tab-container */
}

.tab-content {
  padding: 20px;
  background: #ffffff;
  /* Fondo suave */
  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);*/
  width: calc(100% - 20px);
  /* Restar el margen de 40px a cada lado */
  margin: auto;
  border-radius: 12px;
  /* Bordes redondeados */
  color: #333;
  /* Texto oscuro */
  font-family: 'Roboto', sans-serif;
}

/*para el forms y tabla*/

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-and-empty {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  /* Espacio entre el formulario y la tabla */
}

.form-container {
  flex: 1;
  max-width: 270px; /*Es el ancho del form*/
  padding: 20px; /*Es el ancho del espacio donde va el form*/
  border-radius: 12px;
  background-color: #f9f9f9;
}

.empty-space {
  flex: 1;
  padding: 20px;
}

.select-design {
  /*border-bottom: 2px solid #00bcd4;  Borde inferior */
  background-color: white;
  /* Fondo transparente */
  color: #333;
  /* Texto oscuro */
  font-size: 16px;
  /*appearance: none;  Oculta la flecha predeterminada */
  padding: 8px 12px;
  transition: border-color 0.3s;
}

.table-container {
  overflow-x: auto;
  margin: 25px auto;
  width: 70%;
  margin-top: 1px; /*Espacio que deja arriba*/
  background: #F8F9F9;
  border-radius: 12px;
  text-align: center;
}


.table-title {
  font-size: 1.1em;
  color: #0c466e;
  margin-bottom: 10px;
}

.table {
  width: calc(100% - 40px); /* Ajusta el ancho de la tabla restando el padding del contenedor */
  margin: 0 auto;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  margin-bottom: 0px; /* espacio entre inputs cuando sale mensaje abajo*/
}

label {
  font-size: 15px;
  margin-bottom: 5px;
  color: #333;
}

input,
textarea,
select {
  padding: 10px;/*ancho de los inputs*/
  font-size: 15px;
  width: 90%; /*Largo de los inputs*/
  box-sizing: border-box; /* Asegura que el padding no desborde el contenedor */
  border: 1px solid #bbb; /* Borde de los campos */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #ffffff; /* Fondo de los campos */
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s; /* Transición suave */
}

input:focus,
textarea:focus,
select:focus {
  border-color: #26c6da;
  /* Color del borde en foco */
  box-shadow: 0 0 5px rgba(38, 198, 218, 0.5);
  /* Sombra en foco */
  outline: none;
  /* Eliminar el contorno predeterminado */
}

button {
  padding: 11px;
  width: 42%;
  font-size: 15px;
  background-color: #4db04a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  /* Transición suave */
}

button:hover {
  background-color: #409b5e;
  /* Color al pasar el mouse */
  transform: translateY(-2px);
  /* Efecto de levantamiento */
}

button[disabled] {
  background-color: #aaa;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
    /* Eliminar el margen izquierdo en pantallas pequeñas */
  }

  .tab-container {
    margin: 10px 20px;
    /* Reducir el margen en pantallas pequeñas */
  }

  .form-and-empty {
    flex-direction: column;
  }

  .form-container,
  .empty-space {
    width: 100%;
    /* Ocupar todo el ancho en pantallas pequeñas */
    border-right: none;
  }
}

/*------------------------ PARA LA TABLA -------------------------*/

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  text-align: center;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 15px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Borde sombreado gris */
  border-radius: 10px;
  /* Esquinas redondeadas */
  overflow: hidden;
  /* Para que las esquinas redondeadas se apliquen correctamente */
  table-layout: auto; /* Permite que las columnas ajusten su tamaño según el contenido */

}

thead {
  font-size: 17px;
  background-color: #26c6da;
  /* Gris muy claro */
  border-bottom: 2px solid #cccccc;
  /* Línea inferior gris */
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

th {
  background-color: #F2F3F4;
  /* Asegurando que la cabecera tenga el mismo color de fondo */
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
  /* Fondo alterno para filas pares */
}

tbody tr:hover {
  background-color: #e0e0e0;
  /* Fondo al pasar el mouse */
}

p{
  font-size: 15px;
  margin-bottom: 35px;
}

/* Barra de deslizamiento*/

.table-scroll {
  max-height: 420px;
  overflow-y: auto;
  border-radius: 10px;
}


/*INPUTS*/

input::placeholder {
  color: #cccaca;
}

.input-container div{
  color: rgb(235, 82, 82);
  font-size: 13.5px; /*Tamaño de mensaje de requerido*/
}
